openapi: '3.0.0'
info:
  version: 1.0.0
  title: VoxelAddons API
  license:
    name: MIT
servers:
  - url: https://api.voxeladdons.com/v1
paths:
  /plugins:
    get:
      summary: Retrieve a comprehensive list of all active VoxelAddons plugins with their current status and version information. This endpoint provides detailed metadata about each plugin including capabilities, dependencies, and integration points within the Voxel ecosystem.
      operationId: listPlugins
      parameters:
        - name: limit
          in: query
          description: Controls the maximum number of plugins returned in a single response, helping manage large plugin inventories efficiently.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Successfully retrieved the plugin list with complete metadata and status information for each plugin in the VoxelAddons ecosystem.
          headers:
            x-next:
              description: Provides a direct link to access the next page of results when the plugin list exceeds the specified limit.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugins'
        default:
          description: Unexpected error occurred while retrieving plugin information, such as database connectivity issues or invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Register a new plugin within the VoxelAddons ecosystem. This endpoint validates plugin metadata, checks for compatibility with existing plugins, and establishes the necessary integration points with the VoxPro framework.
      operationId: createPlugins
      responses:
        201:
          description: Plugin registration completed successfully with all integration hooks established and metadata stored in the system.
        default:
          description: Plugin registration failed due to validation errors, compatibility issues, or system constraints preventing successful integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /plugins/{pluginId}:
    get:
      summary: Fetch detailed information about a specific VoxelAddons plugin by its unique identifier. This endpoint provides comprehensive plugin metadata including configuration options, dependencies, and current operational status.
      operationId: showPluginById
      parameters:
        - name: pluginId
          in: path
          required: true
          description: The unique identifier of the plugin to retrieve, typically matching the plugin slug or internal system ID.
          schema:
            type: string
      responses:
        200:
          description: Plugin details retrieved successfully with complete metadata, configuration settings, and current operational status information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugins'
        default:
          description: Plugin retrieval failed due to invalid plugin ID, access permissions, or system errors preventing data access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      summary: Retrieve a paginated list of users registered through the VoxelAddons system with their profile information and integration status. This endpoint supports filtering by user roles, registration dates, and plugin-specific attributes.
      operationId: listUsers
      parameters:
        - name: limit
          in: query
          description: Specifies the maximum number of user records to return in a single response, enabling efficient handling of large user databases.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: User list retrieved successfully with complete profile information, plugin integration status, and pagination metadata for navigating through results.
          headers:
            x-next:
              description: Contains the URL for accessing the next page of user results when the total exceeds the specified limit parameter.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        default:
          description: User list retrieval encountered an error due to database issues, permission restrictions, or invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /payments:
    post:
      summary: Process a new payment transaction through the integrated VoxPay system. This endpoint handles payment creation, validation, and initial processing while supporting multiple payment methods and currencies.
      operationId: createPayments
      responses:
        201:
          description: Payment transaction initiated successfully with confirmation details and tracking information provided for subsequent status monitoring.
        default:
          description: Payment processing failed due to validation errors, insufficient funds, gateway issues, or system processing constraints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Plugin:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Plugins:
      type: array
      items:
        $ref: '#/components/schemas/Plugin'
    User:
      required:
        - id
        - email
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        profile:
          type: object
    Users:
      type: array
      items:
        $ref: '#/components/schemas/User'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string